body{

	margin: 0;
}

$list: 3, 6, 9, 12, 15, 18, 21, 24, 27, 30; 


.main-container {

	top: 1%;


#landing {

	width: 95%;
	height: 100%;
	margin: 0 auto 0 auto;

	.top-article{
		
		height: 80%;
		@include outer-container;
		background: #eee;
		max-width: 100%;


	}

	.more-articles {

		margin-top: 2%;
		@include outer-container;
		height: 100%;
		max-width: 100%;

	
	& > div {

	@include span-columns(4);
	background: #eee;
	height: 50%;
	margin-top: 1%;


	}

	@each $i in $list {
  .more-articles__article-#{$i}{
    margin-right: 0;
  }
}


	}


}

}