$i: 3;

$list: 0;

@while $i < 1000 {
  
  $list: append($list, $i);

  $i: $i + 3;

}

#landing {

	width: 95%;
	height: 100%;
	margin: 1% auto 0 auto;

	.top-article{
		
		height: 70%;
		@include outer-container;
		background: #eee;
		max-width: 100%;
		 -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
 		 -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
 		 box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);


	}

	.more-articles {

		margin-top: 2%;
		@include outer-container;
		height: 100%;
		max-width: 100%;

	
		& > div {

		@include span-columns(4);
		background: #eee;
		height: 40%;
		margin-top: 1%;
		 -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  		-moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  		box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);


	}

	@each $i in $list {
  	.more-articles__article-#{$i}{
    margin-right: 0;


  }
}


	}


}

