#map-box {
    position: fixed;
    @include size(100% 100%);
    left: 0;
    display: table;

    background-color: $bad-light-white;
    text-align: center;
    z-index: 2;

    @include transform(translate3d(-110%, 0, 0));
    @include transition(transform 1s ease-in-out);
    &.open {
        @include transform(translate3d(0, 0, 0));
    }

    .map-box-content {
        width: 100%;
        height: 100%;

        padding-right: 100px;
        padding-left: 200px;

        @include media($mobile) {
            padding-right: 10px;
            padding-left: 10px;
            font-size: 0.7em;
        }
        @include media($tablet) {
            padding-right: 10px;
            padding-left: 10px;
            font-size: 0.7em;
        }

        .map-canvas {
            position: relative;
            height: 100%;

            @include span-columns(9 of 12, $display: block-collapse);

            @include media($mobile) {
                @include span-columns(4 of 4, $display: block-collapse);
            }
            @include media($tablet) {
                @include span-columns(4 of 4, $display: block-collapse);
            }

            z-index: 1;

            .angular-google-map-container {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                .custom-marker-window {
                    position: relative;
                    margin-left: -150px;
                    background-color: $bad-white;
                    box-shadow: $frame-1;
                    padding: 10px;
                    width: 300px;
                    height: auto;
                    font-family: $font-primary;
                    text-align: center;
                    opacity: 1;
                    animation: markerWindow 1s;
                    @include transform(translate3d(0,-180px,0));

                    /*
                     * Hide default google close button
                     */
                    img {
                        display: none;
                    }

                    .overlay-category {
                        position: relative;
                        margin-top: 10px;
                        margin-left: 125px;
                        border-radius: 2px;
                        padding: 5px;
                        width: 30px;

                        h5 {
                            cursor: pointer;
                        }

                        &.family, &.saveenergy, &.naturalgas {
                            background-color: $bad-orange;

                            &:before, &:after {
                                content: "";
                                position: absolute;
                                height: 5px;
                                width: 105px;
                                border-bottom: 1px solid $bad-orange;
                                top: 10px;
                            }
                        }

                        &.culture, &.greenenergy, &.news {
                            background-color: $bad-blue;

                            &:before, &:after {
                                content: "";
                                position: absolute;
                                height: 5px;
                                width: 105px;
                                border-bottom: 1px solid $bad-blue;
                                top: 10px;
                            }
                        }

                        &.freetime, &.nature {
                            background-color: $bad-green;

                            &:before, &:after {
                                content: "";
                                position: absolute;
                                height: 5px;
                                width: 105px;
                                border-bottom: 1px solid $bad-green;
                                top: 10px;
                            }
                        }

                        &:before {
                            right: 30px;
                            margin-right: 10px;
                        }

                        &:after {
                            left: 30px;
                            margin-left: 10px;
                        }

                        img {
                            display: block;
                            width: 20px;
                            height: auto;

                            -webkit-filter: invert(100%);
                        }
                    }
                }
            }
        }

        .map-nearby {
            @include span-columns(3 of 12);
            position: relative;
            height: 100%;
            padding: 10px;
            box-shadow: $frame-1;
            background-color: $bad-white;

            z-index: 2;

            @include media($mobile) {
                position: fixed;
                bottom: 0;
                height: 37%;
                width: 100%;
                overflow-y: scroll;
                overflow-x: hidden;

                padding-left: 100px;
                padding-right: 100px;
            }
            @include media($tablet) {
                position: fixed;
                bottom: 0;
                height: 37%;
                width: 100%;
                overflow-y: scroll;
                overflow-x: hidden;

                padding-left: 100px;
                padding-right: 100px;
            }

            h4 {
                margin-top: 14px;
            }

            .map-nearby-gps {

                position: absolute;
                width: 100%;
                top: 45%;

                @include media($mobile) {
                    left: 0;
                }
                @include media($tablet) {
                    left: 0;
                }

                .spinner {
                    width: 40px;
                    height: 40px;
                    margin: 20px auto;
                    background-color: #333;

                    border-radius: 100%;
                    -webkit-animation: scaleout 1.0s infinite ease-in-out;
                    animation: scaleout 1.0s infinite ease-in-out;
                }

            }

            .map-nearby-items {
                position: relative;
                top: 15px;
                margin: 10px;
                height: 93%;

                .map-nearby-item {
                    background-color: $bad-white;
                    box-shadow: $frame-1;
                    height: 40px;
                    line-height: 40px;
                    text-align: left;
                    cursor: pointer;
                    margin-bottom: 5px;

                    &:hover {
                        box-shadow: $frame-2;
                    }

                    .map-nearby-category {
                        @include span-columns(2 of 12);
                        height: 100%;

                        img {
                            margin-top: 5px;
                            margin-left: 9px;
                            display: block;
                            width: 30px;
                            padding: 3px;
                            height: auto;
                            border-radius: 1px;

                            -webkit-filter: invert(100%);
                        }
                    }

                    .headline {
                        @include span-columns(7 of 12);
                    }

                    .distance {
                        @include span-columns(3 of 12);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@keyframes markerWindow {
    0% {
        opacity: 0;
        background-color: $bad-orange;
        @include transform(translate3d(0,-100px,0) scale(0.7));
    }
    100% {
        opacity: 1;
        background-color: $bad-white;
        @include transform(translate3d(0,-180px,0) scale(1));
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}