#search-box {
    position: fixed;
    @include size(100% 100%);
    left: 0;
    display: table;

    background-color: $bad-light-white;
    text-align: center;
    z-index: 2;

    @include transform(translate3d(-110%, 0, 0));
    @include transition(transform 1s ease-in-out);
    &.open {
        @include transform(translate3d(0, 0, 0));
    }

    .search-input {
        position: absolute;
        width: 50.6%;
        height: 100%;
        margin-left: 27.3%;

        @include transform(translate3d(0,49%,0));


        input {
            display: block;
            width: 100%;
            border: 0;
            font-size: em(20);
            padding:.75rem 1rem;
            border-radius: 2px;
            box-shadow: $frame-1;

            @include transition(all 0.5s ease-in-out);

            &:focus {
                margin-top: -40%;
                outline: 0;
            }

            &.results {
                margin-top: -40%;
                outline: 0;
            }

            @include media($mobile) {
                &:focus {
                    margin-top: -350px;
                    outline: 0;
                }

                &.results {
                    margin-top: -350px;
                    outline: 0;
                }
            }
        }
    }

    .search-box-content {
        display: table-cell;
        vertical-align: middle;

        padding-right: 100px;
        padding-left: 200px;

        @include media($mobile) {
            padding-right: 105px;
            padding-left: 10px;
            font-size: 0.7em;
        }

        .search-results {
            width: 60%;
            height: 600px;
            margin-left: 20%;

            @include media($mobile) {
                width: 80%;
            }

            .search-item {
                position: relative;
                height: 160px;
                width: 100%;
                padding: 25px;
                text-align: left;
                margin-bottom: 25px;
                cursor: pointer;

                background-color: $bad-white;
                box-shadow: $frame-1;

                &:hover {
                    box-shadow: $frame-2;
                }

                .url {
                    margin-top: -5px;
                    font-size: em(14);
                    color: $bad-green;
                }

                p {
                    font-size: em(16);
                }
            }
        }
    }
}