$bad-ease-in-out: cubic-bezier(0.68, -0.55, 0.265, 1.25);

/**
* Ng-enter
*/
.ng-enter {
    opacity: 0;
    @include transition(opacity 1s ease-in-out);
    &.ng-enter-active {
        opacity: 1;
    }
}