/**
 * Input buttons
 *
.input-text {
    height: em(38);
    padding: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: 0 0;
    border-bottom: 2px solid $bad-white;
    color: $bad-white;
    outline: none;
    font-size: em(20);
    font-weight: normal;
}

.input-group {
    margin-bottom: 10px;
}

label {
    height: em(50);
    line-height: em(50);
}*/

.button {
    position: relative;
    padding: 8px 30px;
    border: 0;
    margin: 10px 1px;
    cursor: pointer;
    text-decoration: none;
    color: $bad-white;
    outline: 0!important;
    box-shadow: 0;
}

.button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

    @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
}

.button-blue {
    background-color: $bad-blue;
    color: $bad-white;
}

.button-orange {
    background-color: $bad-orange;
    color: $bad-white;
}

/**
 * Centering
 */
.center-parent {
    display: table;
}

.center-child {
    display: table-cell;
    vertical-align: middle;
}

/**
 * Warning/Info
 *


/**
 * Section boxes
 */
.section-box {
    background-color: $bad-white;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 15px;

    .section-box-head {
        height: em(40);
        line-height: em(40);
        border-bottom: 1px solid $bad-grey;
    }
}

/**
 * Form control
 */
.form-group {
    input, select {
        height: 36px;
        margin-bottom: 10px;
        padding-left: 7px;
        border: 2px solid $bad-grey;
        border-radius: 0;
        outline: 0;

        @include transition(border 0.7s ease-in-out);
    }

    textarea {
        margin-bottom: 10px;
        padding-left: 7px;
        border: 2px solid $bad-grey;
        border-radius: 0;
        outline: 0;

        @include transition(border 0.7s ease-in-out);
    }

    .ng-pristine.ng-invalid {
        border: 2px solid $bad-orange;
    }
}

/**
 * Modals
 */
.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;

    @include size(100% 100%);

    z-index: 1031;

    @include transform(translate3d(0,0,0));
    @include transition(all 0.2s ease-in-out);
    opacity: 1;
    &.ng-hide {
        opacity: 0;
        @include transform(translate3d(0,-20%,0));
    }

    .custom-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;

        background-color: $bad-white;
        opacity: 0.7;

        @include size(100% 200%);

        z-index: 1031;
    }
    .custom-modal-box {
        position: absolute;
        top: 10%;
        width: 400px;
        height: 500px;
        display: inline-block;
        margin-left: -200px;

        background-color: $bad-white;
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

        z-index: 1032;

        .custom-modal-header {
            width: 100%;
            height: 50px;

            border-bottom: 4px solid $bad-blue;

            .custom-modal-header-item {
                @include span-columns(6 of 12, $display: block-collapse);
                line-height: 50px;
                text-align: center;
                cursor: pointer;

                &.active {
                    background-color: $bad-blue;
                    color: $bad-white;
                }

                &:hover {
                    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

                    @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
                }
            }
        }

        .custom-modal-body {
            padding: 10px;
            text-align: center;
            width: 100%;

            @include span-columns(12 of 12);

            i {
                position: relative;
                padding-top: 60px;
                padding-bottom: 45px;
            }

            .input-group {
                position: relative;
                width: 100%;
                padding: 15px;
                text-align: left;

                label {
                    @include span-columns(12 of 12);
                }

                input {
                    @include span-columns(12 of 12);

                    border-radius: 0;
                }
            }
        }

        .custom-modal-warning {
            @include span-columns(12 of 12);
        }
    }

}