/**
 * Colors
 */
$bad-green: #5ACA00;
$bad-blue: #7BAABE;
$bad-bluer: #4BBFC3;
$bad-orange: #FFA600;

$bad-white: #f2f2f2;
$bad-black: #333;

$bad-grey: #E6E6E6;
$bad-dark: #434343;
$bad-border: #cdcdcd;


/**
 * Fonts
 */
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Josefin Slab', serif;

/**
 * Global settings
 */
html, body {
	width: 100%;
	height: 100%;

	font-family: $font-primary;
	font-weight: 300;
}

.main-container {
    position: absolute;
	height: 100%;
	width: 100%;
}

footer {
    position: absolute;
    top: 300%;
    margin-top: 50px;
    background-color: white;
}

[ng-cloak]
{
  display: none !important;
}