/**
 * Colors
 */
$bad-blue: #330099;
$bad-orange: #ff6600;
$bad-green: #68b02a;

$bad-light-blue: #8f88b8;
$bad-light-orange: #ffd1b2;
$bad-light-green: #c5e5b4;

$bad-white: #ffffff;
$bad-light-white: #ededed;
$bad-black: #6f6f6f;
$bad-grey: #acacac;


/**
 * Fonts
 */
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Josefin Slab', serif;

/**
 * Global settings
 */
html, body {
	width: 100%;
	height: 100%;

	font-family: $font-primary;
	font-weight: 300;

    h1 {
        font-size: em(24);
    }

    p {
        font-size: em(14);
    }

    .headline {
        text-transform: uppercase;
    }
}

.main-container {
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;

    height: 100%;

    .nested-container {
        width: 100%;
        height: 100%;
        margin-right: 10px;

        overflow-y: scroll;
    }
}


[ng-cloak]
{
  display: none !important;
}

/**
 * Whiteframes
 */
$frame-1: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
$frame-2: 0px 8px 17px rgba(0, 0, 0, 0.2);