.bad-loader {
    position: relative;
	float: left;
    background-color: $bad-white;
    z-index: 200;
    opacity: 1;
    width: 84%;
    height: 100%;
    display: table;

    text-align: center;

    z-index: 2;

    @include transition(opacity 0.3s ease-in-out);

    .bad-loader-content {
        display: table-cell;
        vertical-align: middle;
    }
}

.bad-loader.hide {
    opacity: 0;
}