.bad-loader {
    position: absolute;
	float: left;
    background-color: $bad-white;
    z-index: 200;
    opacity: 1;
    width: 84%;
    height: 100%;
    display: table;

    text-align: center;

    z-index: 2;

    @include transition(all 1.3s ease-in-out);
    &.ng-hide {
        opacity: 0;
    }

    .bad-loader-content {
        display: table-cell;
        vertical-align: middle;

        img {
            filter: grayscale(1);
        }
    }
}