<!-- Navigation -->
<nav id="nav" ng-class="{ 'docked': ctrl.navDocked || ctrl.isMobile }">
	<!-- Nav logo -->
	<div class="nav-logo">
		<a href="#/overview">
			<h3>meine energie</h3>
		</a>
	</div>

	<!-- Nav items -->
	<div class="nav-items">
		<div class="nav-vertical-center">
			<div class="nav-item" ng-class="{ 'active': ctrl.open.search }" ng-click="ctrl.toggleBox('search')">
				<div>
					<div class="nav-item-icon ion-ios-search"></div>
					<div class="nav-item-label">Suche</div>
				</div>
			</div>
			<div class="nav-item" ng-class="{ 'active': ctrl.open.map }" ng-click="ctrl.toggleBox('map')">
				<div>
					<div class="nav-item-icon ion-ios-location-outline"></div>
					<div class="nav-item-label">Karte</div>
				</div>
			</div>
			<div class="nav-item" ng-class="{ 'active': ctrl.open.media }" ng-click="ctrl.toggleBox('media')">
				<div>
					<div class="nav-item-icon ion-ios-film-outline"></div>
					<div class="nav-item-label">Medien</div>
				</div>
			</div>
			<div class="nav-item" ng-class="{ 'active': ctrl.open.contact }" ng-click="ctrl.toggleBox('contact')">
				<div>
					<i class="nav-item-icon ion-ios-chatboxes-outline"></i>
					<div class="nav-item-label">Kontakt</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<!-- Loader -->
<div class="bad-loader" ng-show="ctrl.isLoading">
	<div class="bad-loader-content">
		<div class="spinner"></div>
	</div>
</div>

<!-- Nested view content -->
<section ui-view class="nested-container"></section>


<!-- Search-Box -->
<div id="search-box" ng-class="{ 'open': ctrl.open.search }">

	<!-- close icon -->
	<i class="ion-chevron-left close-icon" ng-click="ctrl.toggleBox('search')"></i>

	<!-- Search-Input -->
	<div class="search-input">
		<input type="text" ng-model="ctrl.searchString" ng-keyup="ctrl.startSearch()" ng-class="{ 'results': ctrl.searchString }"placeholder="Suchen ...">
	</div>

	<div class="search-box-content">

		<!-- Search-Results -->
		<div class="search-results" ng-hide="!ctrl.searchString">
			<div class="search-item">
				<h4 class="headline">Moraine lake - Artikel</h4>
				<div class="url">https://dribbble.com/shots/1790652-Google-Material-exploration/attachments/294056</div>
				<p>Here is a little week end exploration of how Google could look like with the material design. I will add the animations next week. Just a concept. Btw, It's not a fixed footer, the footer is at the bottom of all the results of the page, (I just included it so you can see it).
				</p>
			</div>
			<div class="search-item">
				<h4 class="headline">Moraine lake - Artikel</h4>
				<div class="url">https://dribbble.com/shots/1790652-Google-Material-exploration/attachments/294056</div>
				<p>Here is a little week end exploration of how Google could look like with the material design. I will add the animations next week. Just a concept. Btw, It's not a fixed footer, the footer is at the bottom of all the results of the page, (I just included it so you can see it).
				</p>
			</div>
			<div class="search-item">
				<h4 class="headline">Moraine lake - Artikel</h4>
				<div class="url">https://dribbble.com/shots/1790652-Google-Material-exploration/attachments/294056</div>
				<p>Here is a little week end exploration of how Google could look like with the material design. I will add the animations next week. Just a concept. Btw, It's not a fixed footer, the footer is at the bottom of all the results of the page, (I just included it so you can see it).
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Map-Box -->
<div id="map-box" ng-class="{ 'open': ctrl.open.map }">

	<!-- close icon -->
	<i class="ion-chevron-left close-icon" ng-click="ctrl.toggleBox('map')"></i>

	<div class="map-box-content">

		<!-- GoogleMaps -->
		<ui-gmap-google-map class="map-canvas" center='ctrl.map.center' zoom='ctrl.map.zoom' options="ctrl.map.options">

			<!-- Markers -->
			<ui-gmap-markers models="ctrl.mapMarkers" coords="'coords'" click="'onClicked'" icon="'icon'">

				<!-- Marker Windows -->
				<ui-gmap-windows show="'show'" options="'options'">
	                <div class="custom-overlay">
						<div class="overlay-date">24.12.2014</div>
						<div class="overlay-category {{ content.category }}" ng-non-bindable>
							<img src="images/feed/{{ content.category }}.png" alt="{{ content.category }}" ng-non-bindable>
						</div>

						<h5 class="headline" ng-non-bindable>{{ content.title }}</h5>
	                    <p class="overlay-teaser" ng-non-bindable>{{ content.teaserText | characters: 50 }}</p>
	                </div>
            	</ui-gmap-windows>

			</ui-gmap-markers>

		</ui-gmap-google-map>

		<!-- Nearby list -->
		<div class="map-nearby" ng-animate-children>

			<h4>badenova in deiner Nähe</h4>
			<div class="map-nearby-items" ng-hide="ctrl.gpsLoading">
				<div class="map-nearby-item" ng-repeat="article in ctrl.articles">
					<div class="category-{{:: article.category }} map-nearby-category">
						<img ng-src="images/feed/{{:: article.category }}.png" alt="{{:: article.category }}">
					</div>
					<span class="headline">{{:: article.title | characters: 20 }}</span>
					<span class="distance">{{:: $index * 5 }} km</span>
				</div>
			</div>
			<div class="map-nearby-gps" ng-hide="!ctrl.gpsLoading">
				<div class="spinner"></div>
				<h5>Standort wird ermittelt ...</h5>
			</div>
		</div>
	</div>

</div>


<!-- Feedbar -->
<div id="feed">

	<!-- close icon --
	<i class="ion-chevron-left close-icon" ng-click="ctrl.toggleBox('feed')"></i>-->

	<!-- Add Feed -->
	<div class="feed-add">
		<i class="ion-ios-plus" ng-click="ctrl.toggleFeed()" ng-class="{ 'open': ctrl.openBoxName }"></i>
	</div>

	<!-- Selected Feeds -->
	<div class="feed-items" ng-animate-children>
		<div ng-repeat="item in ctrl.feedItems | filter: {active: true} " class="feed-item list" ng-class="item.color">
			<i class="ion-ios-close" ng-click="ctrl.toggleFeedCategory(item.id)"></i>
			<img src="images/feed/{{ item.category }}.png">
			<div class="feed-item-label active" ng-class="item.color">{{ item.name }}</div>
		</div>
	</div>

	<!-- Export Feed -->
	<div class="feed-export">
		<p>Magazin exportieren</p>
		<i class="ion-ios-download-outline" ng-click="ctrl.exportPdf()" ng-class="{ 'loading': ctrl.exportLoading }"></i>
	</div>

</div>
<!-- Feedbar Box -->
<div id="feed-box" ng-class="{ 'open': ctrl.open.feed }">
	<div class="feed-box-content">
		<div class="feed-box-items">
			<h3 class="headline">Welche Kategorien interessieren dich?</h3>
	    	<div ng-repeat="item in ctrl.feedItems" class="feed-box-item {{ item.color }}" ng-class="{ 'active': item.active }" ng-click="ctrl.toggleFeedCategory(item.id)">
	    		<div class="feed-box-content"></div>
	    		<img ng-src="images/feed/{{ item.category }}.png" />
	    		<div class="feed-box-label"><span>{{ item.name }}</span><i class="ng-hide ion-ios-checkmark"></i></div>
	    	</div>
		</div>
    </div>
</div>