<!-- Navigation -->
<nav id="nav">
	<!-- Nav logo -->
	<div class="nav-logo"></div>

	<!-- Nav items -->
	<div class="nav-items">
		<div class="nav-vertical-center">
			<div class="nav-item" ui-sref-active="active">
				<a ui-sref="landing">
					<div class="nav-item-icon ion-ios-search"></div>
					<div class="nav-item-label">Suche</div>
				</a>
			</div>
			<div class="nav-item" ui-sref-active="active">
				<a ui-sref="landing">
					<div class="nav-item-icon ion-ios-location-outline"></div>
					<div class="nav-item-label">Karte</div>
				</a>
			</div>
			<div class="nav-item" ui-sref-active="active">
				<a ui-sref="landing">
					<div class="nav-item-icon ion-ios-film-outline"></div>
					<div class="nav-item-label">Medien</div>
				</a>
			</div>
			<div class="nav-item" ui-sref-active="active">
				<a ui-sref="landing">
					<i class="nav-item-icon ion-ios-chatboxes-outline"></i>
					<div class="nav-item-label">Kontakt</div>
				</a>
			</div>
		</div>
	</div>
</nav>

<!-- Nested View --
<div class="bad-loader" ng-class="{ 'hide': ctrl.preloaderHide }">
	<div class="bad-loader-content">
		<img src="images/loader/bad-loader.gif">
	</div>
</div>-->

<!-- Nested view content -->
<section ui-view class="nested-container"></section>

<!-- Search-Box -->

<!-- Feedbar -->
<div id="feed">

	<!-- Add Feeds -->
	<div class="feed-add">
		<i class="ion-ios-plus" ng-click="ctrl.toggleFeed()" ng-class="{ 'open': ctrl.open.feed }"></i>
	</div>

	<!-- Selected Feeds -->
	<div class="feed-items">
		<div ng-repeat="item in ctrl.feedItems | filter: {active: true} " class="feed-item list" ng-class="item.color">
			<i class="ion-ios-close"></i>
			<img src="images/feed/{{ item.img }}">
		</div>
	</div>

</div>

<!-- Feedbar Box -->
<div id="feed-box" ng-class="{ 'open': ctrl.open.feed }">
	<div class="feed-box-content">
		<div class="feed-box-items">
			<h3 class="headline">Welche Kategorien interessieren dich?</h3>
	    	<div ng-repeat="item in ctrl.feedItems" class="feed-box-item {{ item.color }}" ng-class="{ 'active': item.active }">
	    		<div class="feed-box-content"></div>
	    		<img ng-src="images/feed/{{ item.img }}" />
	    		<div class="feed-box-label"><span>{{ item.name }}</span><i class="ng-hide ion-ios-checkmark"></i></div>
	    	</div>
		</div>
    </div>
</div>